.filters {
    height: 70px;
    width: 100%;

    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

}


.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;

    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 12px 30px;

    float: right;
}


.filters button:hover {
    opacity: 0.9;
}